@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

.container--form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#ffe6e6, #ffb3b3, #d17dcd);
}

.form {
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #9c27b0;
  border-radius: 8px;
}

.error {
  color: red;
}
