@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

.container--welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#f8fa88, #ffc982, #fa94bb);
}

.img {
  width: 250px;
  margin-left: 20px;
}

.welcome {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

@media (min-width: 900px) {
  .img {
    width: 380px;
    margin-left: 20px;
  }

  .welcome {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 35px;
  }
}
